* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #494948;
    color: #eeeeee;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

header{
    grid-column: 2/5;
    background-image: linear-gradient(to right, #F0DB4F , rgb(139, 128, 56));
    text-align: center;
    font-size: 2em;
    padding: 25px;
    margin: 25px 0px;
}

main{
    grid-column: 2/5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: calc(100vh - 137.6px);
    gap: 1em;
}

nav {
    background-color: #9b703f;
    grid-column: 1/2;
}

nav a{
    display: block;
    padding: 1.25em;
    border-bottom: 1px solid black;
    background-color: #b1814b;
}

nav a:hover {
    background-color: rgb(201, 144, 78);
}

.content {
    grid-column: 1/4;
    margin-bottom: 25px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.link{
    background-color: #e7e0e0;
    text-align: center;
    font-size: 1.5em;
    color: #505050;
    -webkit-box-shadow: 2px 2px 9px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 9px 1px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 9px 1px rgba(0,0,0,0.75);
    transition: transform .25s;
}

.link:hover{
    transform: scale(1.05);
}

p{
    padding: 0.5em;
}

a{
    color: #eeeeee;
    text-decoration: none;
}

img {
    width: 100%;
    max-height: 150px;
    object-fit: cover;
}

.green{
    border-color: #27a323;
}

.red{
    border-color: #e71414;
}

@media (max-width:1000px){
    
    .wrapper{  
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0;
    }

    header{
        margin: 0px 0px 25px 0px;
        grid-column: 1/2;
        font-size: 3em;
    }

    main {
        grid-column: 1/2;
        min-height:initial;
        grid-template-columns: repeat(5, 1fr);
        margin-bottom: 25px;
    }

    main a {
        grid-column: 2/5;
    }

    img {
        max-height: 300px;
    }

    nav {
        display: none;
    }

    .content{
        grid-column: 1/6;
    }

    .link:hover{
        transform: scale(1);
    }
    
}