section{
    grid-column: 2/6;
    padding: 0em 5em;
}

p {
    padding: 16px;
    font-size: 1.5em;
    background-color: #4e7ea5;
    text-align: center;
}

#shopList{
    background-color: #808080;
    min-height: 370px;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
}

#addItem{
    background-color: #4e7ea5;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
}

#itemInput{
    font-size: 1.25em;
    text-align: center;
    margin: 10px;
    background-color: #4e7ea5;
    outline: 0;
    border-width: 0px  0px 2px 0px;
    border-color: #154564;
    color: #eeeeee;
    min-width: 250px;
}

#buttonAdd{
    -webkit-appearance: none;
    background-color: #a8a13a;
    border: none;
    width: 125px;
    height: 25px;
    margin-top: 20px 0px;
    color: #eeeeee;
}
ul{
    list-style-type: none;
    padding-inline-start: 0px;
    text-align: center;
}
li{
    margin: 2px 0px;
    padding: 20px;
    font-size: 1.25em;
}
.red{
    background-color: #b33e3e;
}
.green{
    background-color: #69ad69;
}

@media (max-width: 1000px){
    section{
        grid-column: 1/6;
        font-size: 2em;
        padding: 0px;
    }

    #shopList{
        min-height: 60vh;
    }

    #buttonAdd{
        width: initial;
        height: initial;
        border-radius: 15%;
        font-size: 1.25em;
        padding: 10px;
        margin: 10px;
    }

}