section{
    grid-column: 3/5;
}

p {
    padding: 16px;
    font-size: 1.5em;
    background-color: #3a6385;
    text-align: center;
}

#shopList{
    background-color: #808080;
    height: calc(100% - 161.2px);
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
}

#addItem{
    background-color: #3a6385;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
}

#itemInput{
    font-size: 1.25em;
    text-align: center;
    margin: 10px;
    background-color: #3a6385;
    outline: 0;
    border-width: 0px  0px 2px 0px;
    border-color: #154564;
    color: #eeeeee;
}

#itemInput:focus{
    border-color: #a8a13a;
}

#buttonAdd{
    -webkit-appearance: none;
    background-color: #a8a13a;
    border: none;
    width: 125px;
    padding: 5px;
    margin: 5px;
    color: #eeeeee;
}

#buttonAdd:hover{
    background-color: #cac13e;
}

ul{
    list-style-type: none;
    padding-inline-start: 0px;
    text-align: center;
}
li{
    margin: 2px 0px;
    padding: 20px;
    font-size: 1.25em;
}
.red{
    background-color: #b33e3e;
}
.green{
    background-color: #69ad69;
}

@media (max-width: 1000px){
    section{
        grid-column: 1/6;
        font-size: 1em;
        padding: 0px;
    }

    #shopList{
        height: 60vh;
    }

    #buttonAdd{
        font-size: 1.25em;
    }

}