.quiz {
    grid-column: 2/6;
}

#score {
    font-size: 1.5em;
    padding: 10px 0px;
    color: #F0DB4F;
}

#question{
    background-color: #808080;
    width: 80%;
    border-radius: 10px;
    align-self: center;
    margin: 1em auto;
    padding: 1.25em 0px;
}
ul{
    list-style-type: none;
    padding-inline-start: 0px;
    text-align: center;
    margin: 0px;
}
li{
    background-color: #808080;
    width: 80%;
    border-radius: 10px;
    margin: 20px auto;
    text-align: center;
    padding: 0.75em 0px;
}
.checked{
    background-color: #a8a13a;
}
.true{
    background-color: #208020;
}
.false{
    background-color: #80161f;
}
.basic{
    background-color: #45606b;
}
#button{
    margin-left: auto;
    margin-right: auto;
    background-color: #a8a13a;
    border-radius: 10px;
    border: none;
    width: 200px;
    height: 50px;
}

@media(max-width:1000px){

    #question{
        width: 90%;
    }
    
    li{
        width: 90%;
    }

    .quiz {
        grid-column: 1/6;
        font-size: 1.5em;
    }

    #button{
        margin-top: 1em;
        font-size: 1em;
        padding: 0.5em;
        width: initial;
        height: initial;
    }

}
