.tic-tac-toe{
    grid-column: 2/6;
}

.players{
    text-align: center;
    padding-bottom: 0.5em;
}

.prompt{
    font-size: 1em;
    padding: 0.1em;
}

#btnStart{
    margin: 2em auto;
    padding: 2em;
    border-radius: 50%;
    -webkit-appearance: none;
    text-decoration: none;
    border: none;
    background-color: #F0DB4F;
    display: inline-block;
    outline: none;
}

#btnStart:hover{
    background-color: rgb(190, 173, 61);
}

#btnRestart{
    display: none;
    margin: 1em auto;
    padding: 0.75em;
    -webkit-appearance: none;
    text-decoration: none;
    border: none;
    background-color: #62de2c;
    outline: none;
}

#btnRestart:hover{
    background-color: #58b62f;
}

.name {
    display: none;
    font-size: 1.25em;
}

.game{
    margin-top: 0.5em;
    display: grid;
    grid-template-columns: repeat(7,1fr);
}

.board{
    background-color: black;
    grid-column: 3/6;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    display: none;
    gap: 5px;
}

input {
    background-color: #494948;
    outline: 0;
    border-width: 0px  0px 2px 0px;
    border-color: #e71414;
    color: #eeeeee;
    min-width: 250px;
    display: block;
    margin: 1em auto;
}

input[type="text"]
{
    font-size: 1.5em;
}

input:focus{
    border-color: #F0DB4F;
}

.tile{
    background-color: #494948;
    min-width: 100px;
    min-height: 100px;
}

.tileHover:hover{
    background-color: #72726f;
}

.O{
    background-image: url('../images/O.png');
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
}

.X{
    background-image: url('../images/X.png');
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
}

.warning{
    color: #e71414;
    display: none;
}

.turn {
    font-size: 1.25em;
    color: #F0DB4F;
}

@media (max-width:1000px){
    
    .tic-tac-toe{
        grid-column: 1/6;   
    }
    
    input[type="text"]
    {
        font-size: 2.5em;
    }

    .name {
        padding: 1em;
        font-size: 1.5em;
    }

    .turn {
        padding: 1em;
        font-size: 1.5em;
    }

    .players{
        padding-bottom: 1em;
        font-size: 1.5em;
    }

    #btnStart{
        margin: 2em auto;
        padding: 2em;
        font-size: 1.5em;
    }

    .game{

        grid-template-columns: repeat(5,1fr);
    }
    
    .board{
        grid-column: 2/5;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 10px;
    }

    .tile{
        min-width: 150px;
        min-height: 250px;
    }

    .O{
        background-size: 100%;
    }
    
    .X{
        background-size: 100%;
    }

    #btnRestart{
        display: none;
        margin: 35px auto;
        padding: 25px;
        font-size: 32px;
    }
    

}